@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import "tailwindcss";

html,
body {
  margin: 0;
  min-height: 100%;
  background-color: #210425;
  color: #F5F5F5;
  font-family: "Oranienbaum", serif;
}

@theme {
  --color-brand-bg: #210425;
  --color-brand-purple: #3C1B43;
  --color-brand-plum: #501537; 
  --color-brand-mauve: #B8A3B8;
  --color-brand-white: #F5F5F5;
}

/* красивый скроллбар */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #3C1B43;
}

::-webkit-scrollbar-thumb {
  background: #501537;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B8A3B8;
}